@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
        a {
            text-decoration: none;
            color:#3200C9
        }
        .body {
            width: 300px; 
            background-color: rgb(255, 255, 255);
            font-weight: 700; 
            text-align: center; 
            font-size: large; 
            color: #3200C9; 
            margin: 30px auto
        }
        .background-picture {
            background-image: url("/static/app/water_bg.svg");
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
            background-position:center
        }
        .input {
            padding:5px 8px;
            font-family: "Inter Var";
            width: 150px;
            margin: 5px;
            border:none;
            border-bottom:solid black 2px;
        }
        .keyboard-button {
            display: inline-block;
            text-align: center;
            margin: 3px;
            padding:15px 20px;
            border-radius: 6px;
            padding-top: 15px;
        }
        .submit-button {
            display: inline-block;
            text-align: center;
            margin: auto;
            margin: 2px;
            border-radius: 6px;
            padding: 20px; 
            border:none; 
            background-color:#F7F4FF; 
            color: #3200C9; 
            font-weight:500;
            font-size:large;
            width: 300px;
            margin-top:50px
        }
        .card-background {
            background-color: #F7F4FF; 
            border-radius: 10px; 
            width: 100%; 
            display: inline-block; 
            margin-top: 8px;


        }
        .hero-card {
            padding: 50px 0px; 

        }
        .option-card {
            padding: 25px 0px; 

        }
        .p-hero-text {
            margin: 0px; 
            padding: 0px; 
            text-align: center; 
            font-weight: 500; 
        }
        
        .list-card-padding {
            padding: 15px;
        }
        .list-text {
            font-weight: 500;
        }
        td {
            padding: 1px 6px;
            font-weight: 500;
        }
        .title-div {
            width: 85%;
            display: inline-block
        }
        .title-text {
            color: #8a8a8a;
            font-weight: 400;
            text-align: left;
            padding: 10px 0px;
        }
        .login-text {
            color: #3D6F7A;
            font-weight: 500;
            text-align: left;
            padding: 10px 0px;
        }
        .hidden {
            display: none;
        }
        .emoji-td {
            display: none
        }

        .pw-button {
            background-color: #3200C9;
            color: white;
            padding: 8px 15px;
            border-radius: 5px;
            font-family: "Inter var";
            border: none;
            font-size:medium;
            margin:  auto;
            width: 100%;
        }
        input {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid #3D6F7A;
            color: #3D6F7A;
            font-family: "Inter var";
            padding: 5px;
            font-size: medium;
            width: 100%;
        }
        input:focus {
            background-color: #ffffff88;
            outline: none;
        }
        .modal {
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 40px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
          }
          
          /* Modal Content */
          .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 40px;
            border: 1px solid #888;
            border-radius: 10px;
            width: 300px;
          }
          
          /* The Close Button */
          .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
          }
          
          .close:hover,
          .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
          }
          .button {
            display: inline-block;
            text-align: center;
            margin: auto;
            margin: 2px;
            border-radius: 6px;
            padding: 20px;
            border:none;
            font-weight:500;
            font-size:large;
            width: 300px;
            margin-top:10px
          }
          .purple-theme {
            background-color:#F7F4FF;
            color: #3200C9;
          }
          .green-theme {
            background-color:#B7FFC7;
            color: #0B6B0F;
          }
          .bottom-banner {
            background-color: rgb(255, 243, 182);
            color:rgb(255, 174, 0);
            text-align:center;
            position:fixed;
            bottom: 0px;
            width:inherit;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        
        }

@media only screen and (max-width: 600px) {
    .body {
        width:80%;
    }
    .submit-button {
        width: 100%
    }
    .button {
        width: 100%
    }
    .keyboard-button {
        margin: 4px;
    }
    /* Modal Content */
    .modal-content {
        width:60%
    }
}