@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
        body {
            margin: 0px;
            padding: 0px;
        }
        a {
            text-decoration: none;
            color:#5F00BE
        }
        .body {
            width: 300px; 
            background-color: rgb(255, 255, 255);
            font-weight: 700; 
            text-align: center; 
            font-size: large; 
            color: #5F00BE; 
            margin: 15px auto
        }

        .header {
            padding: 10px;
            padding-bottom: 20px;
            margin: 0px;
            background-color: transparent;
        }
        .landing-header {
            padding: 10px;
            margin: 0px;
            background-color: transparent;
            position:fixed;
            top:0px;
            left:0px;
            right:0px
        }

        .logo {
        width: 50px;
        padding: 0px;
        margin:0px
        }
        
        .header-right {
        float: right;
        font-weight: bold;
        }

        .input {
            padding:5px 8px;
            font-family: "Inter Var";
            width: 150px;
            margin: 5px;
            border:none;
            border-bottom:solid black 2px;
        }
        .keyboard-button {
            display: inline-block;
            text-align: center;
            margin: 3px;
            padding:15px 20px;
            border-radius: 6px;
            padding-top: 15px;
            cursor: pointer;
        }
        .keyboard-settings-button {
            display: inline-block;
            text-align: center;
            padding:15px 20px;
            border-radius: 6px;
            padding-top: 15px;
            cursor: pointer;
            background-color: #EFEFEF;
        }
        .submit-button {
            display: inline-block;
            text-align: center;
            margin: auto;
            font-family: "Inter Var";
            margin: 2px;
            border-radius: 6px;
            padding: 20px; 
            border:none; 
            background-color:#F7F4FF; 
            color: #5F00BE; 
            font-weight:500;
            font-size:large;
            width: 300px;
            margin-top:50px;
            cursor: pointer;
        }
        .card-background {
            background-color: #F7F4FF; 
            border-radius: 10px; 
            width: 100%; 
            display: inline-block; 
            margin-top: 8px;


        }
        .sentence-card {
            min-height:300px


        }
        .hero-card {
            padding: 40px 0px; 

        }
        .option-card {
            padding: 25px 0px; 

        }
        .p-hero-text {
            margin: 0px; 
            padding: 0px 20px; 
            text-align: center; 
            font-weight: 500; 
        }
        
        .list-card-padding {
            padding: 15px;
        }
        .list-text {
            font-weight: 500;
        }
        td {
            padding: 1px 6px;
            font-weight: 500;
            color:#5F00BE; 

        }
        .title-text {
            color: #345f68;
            font-weight: 400;
            text-align: left;
            padding: 10px 0px;
        }
        .login-text {
            color: #345f68;
            font-weight: 500;
            text-align: left;
            padding: 10px 0px;
        }
        .hidden {
            display: none;
        }
        .emoji-td {
            display: none
        }

        .pw-button {
            background-color: #5F00BE;
            color: white;
            padding: 8px 15px;
            border-radius: 5px;
            font-family: "Inter var";
            border: none;
            font-size:medium;
            margin:  auto;
            width: 100%;
            cursor: pointer;
        }
        .pw-button-natural {
            background-color: #5F00BE;
            color: white;
            padding: 8px 15px;
            border-radius: 5px;
            font-family: "Inter var";
            border: none;
            font-size:medium;
            margin:  auto;
            cursor: pointer;
        }
        .thin-p {
            font-weight: 400;
            font-size: 1rem;
        }
        .green-p {
            color: #345f68;

        }
        input[type="radio"] {
            color: #5F00BE;
            background-color:#0B6B0F
        }

        .wideinput {
            width: 100%;

        }
        input[type=text] {
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid #3D6F7A;
            color: #3D6F7A;
            font-family: "Inter var";
            padding: 5px;
            font-size: medium;

        }
        input[type=password] {
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid #3D6F7A;
            color: #3D6F7A;
            font-family: "Inter var";
            padding: 5px;
            font-size: medium;

        }
        input[type=email] {
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid #3D6F7A;
            color: #3D6F7A;
            font-family: "Inter var";
            padding: 5px;
            font-size: medium;

        }
        input:focus {
            background-color: #ffffff88;
            outline: none;
        }
        .modal {
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 40px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
          }
          
          /* Modal Content */
          .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 40px;
            border: 1px solid #888;
            border-radius: 10px;
            width: 300px;
          }
          
          /* The Close Button */
          .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
          }
          
          .close:hover,
          .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
          }
          .button {
            display: inline-block;
            text-align: center;
            margin: auto;
            margin: 2px;
            border-radius: 6px;
            padding: 20px;
            border:none;
            font-weight:500;
            font-size:large;
            width: 300px;
            margin-top:10px;
            cursor: pointer;
          }
          .purple-theme {
            background-color:#F7F4FF;
            color: #5F00BE;
          }
          .green-theme {
            background-color:#B7FFC7;
            color: #0B6B0F;
          }
          .bottom-banner {
            background-color: rgb(255, 243, 182);
            color:rgb(255, 174, 0);
            text-align:center;
            position:fixed;
            bottom: 0px;
            width:inherit;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        
        }
        .keyword {
            color:rgb(255, 174, 0);
        }
        .container {
            border: 2px solid #ececec;
            border-radius: 15px;
            border-top: 10px solid #5F00BE;
            padding: 15px;

        }
        .wp-button-natural {
            background-color: white;
            color: #001a4c;
            padding: 8px 15px;
            border-radius: 5px;
            font-family: "Inter var";
            border: none;
            font-size:medium;
            margin:  auto;
            font-weight: 700;
            cursor: pointer;
        }
        .landing-blue {
            background-color: #001a4c
        }
        .hero-div {
            height: 100vh;
        }
        .hero-h1 {
            font-size: 3em;
        }
        .testimonial-h2 {
            letter-spacing: -1px;
            color:white;
            padding-left:20px;
            padding-right:20px;
        }
        .hero-h2 {
            font-size: 2em;
            margin: none;
            padding: none;
  
        }
        .subwayGuyImg {
            float:right
        }
        .subwayGuyImg {
            text-align:center
        }
        .landing-page-text-box {
            margin: auto;
            padding:100px 20px 50px;
            max-width: 480px;
            
        }
        .landing-sub-text-box {
            padding: 50px 20px 10px 20px;
            max-width: 480px;
            letter-spacing: -1px;
        }
        .landing-sub-flex {
            display:flex;
            justify-content: center;
            flex-wrap: wrap-reverse;
            align-items: center;
        }
        .landing-sub-flex-image {
            margin: 10px 1vw;
            text-align: center;
        }
        .phoneImg {
            width: 80%;
            max-width: 250px;
            padding: 50px;
            padding-top:10px
        }
        .landing-footer {
            background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("/static/app/groupShotWide.png") no-repeat;
            background-size: cover

        }
        .top-logo {
            width: 50px;
            padding: 10px;
            padding-bottom: 0px;
            margin:0px
            
        }
        .base-header {
            padding-bottom: 0px;
            margin: 0px;

        }
        .studentSelectorDiv {
            margin: 0px;
          }
        .settingsButton {
            background-color: #EFEFEF;

        }
        .studentSelectorDiv:hover .selectStudent {
            display:block
          }
        .studentSelectorDiv:hover .keyboard-settings-button {
        background-color: white;
        }

        .studentSelectorDiv:hover .selectStudent {
        display:block
        }
        .student-select {
           
            text-align: right;
            display: inline-block;
          
        }
        .header {

        position: relative;
        }
          
        
        .selectStudent {
            display:none;
            position: fixed;
            min-width: 150px;
            right: 10px
        
        
        }
        .selectStudentList {
            border-radius: 7px;
            background-color: #efefef;
            text-align: left;
          
          }
          
.selectStudentButton {
    padding: 10px;
  }
  .selectStudentButton:hover {
    background-color: rgb(184, 184, 184);
    border-radius: 7px;
  }


@media only screen and (max-width: 1080px) {

    .subwayGuyImg {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .body {
        width:80%;
    }
    .submit-button {
        width: 100%
    }
    .button {
        width: 100%
    }
    .keyboard-button {
        margin: 4px;
    }
    /* Modal Content */
    .modal-content {
        width:60%
    }

}