@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
        a {
            text-decoration: none;
            color:#3200C9
        }
        .body {
            width: 300px; 
            background-color: rgb(255, 255, 255);
            font-weight: 700; 
            text-align: center; 
            font-size: large; 
            color: #3D6F7A; 
            margin: 30px auto
        }
        .background-picture {
            background-image: url("/static/app/water_bg.svg");
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
            background-position:center
        }
        .input {
            padding:5px 8px;
            font-family: "Inter Var";
            width: 150px;
            margin: 5px;
            border:none;
            border-bottom:solid black 2px;
        }
        .keyboard-button {
            display: inline-block;
            text-align: center;
            margin: 3px;
            padding:15px 20px;
            border-radius: 6px;
            padding-top: 15px;
        }
        .submit-button {
            display: inline-block;
            text-align: center;
            margin: auto;
            margin: 2px;
            border-radius: 6px;
            padding: 20px; 
            border:none; 
            background-color:#F7F4FF; 
            color: #3200C9; 
            font-weight:500;
            font-size:large;
            width: 300px;
            margin-top:50px
        }
        .card-background {
            background-color: #F7F4FF; 
            border-radius: 10px; 
            width: 100%; 
            display: inline-block; 
            margin-top: 8px;


        }
        .hero-card {
            padding: 50px 0px; 

        }
        .option-card {
            padding: 25px 0px; 

        }
        .p-hero-text {
            margin: 0px; 
            padding: 0px; 
            text-align: center; 
            font-weight: 500; 
        }
        .list-card-padding {
            padding: 15px;
        }
        .list-text {
            font-weight: 500;
        }
        td {
            padding: 1px 6px;
            font-weight: 500;
        }
        .title-div {
            width: 85%;
            display: inline-block
        }
        .title-text {
            color: #3D6F7A;
            font-weight: 500;
            text-align: left;
            padding: 10px 0px;
        }
        .hidden {
            display: none;
        }
        .emoji-td {
            display: none
        }
        .list-row:hover{
            color: rgb(255, 94, 94);
        }
        .list-row:hover .emoji-td {
            display:block
        }
        .pw-button {
            background-color: #3200C9;
            color: white;
            padding: 8px 15px;
            border-radius: 5px;
            font-family: "Inter var";
            border: none;
            font-size:medium;
            margin:  auto;
            width: 100%;
        }
        input {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid #3D6F7A;
            color: #3D6F7A;
            font-family: "Inter var";
            padding: 5px;
            font-size: medium;
            width: 100%;
        }
        input:focus {
            background-color: #ffffff88;
            outline: none;
        }

@media only screen and (max-width: 600px) {
    .body {
        width:80%;
    }
    .submit-button {
        width: 100%
    }
    .keyboard-button {
        margin: 4px;
        padding:22px 28px;
    }
}