
{% extends 'members/base.html' %}

{% block content %}
<body>
  <div class="body">

      <div style='margin-top: 30px;' class="p-container-top">
          <div class="container green-p">
              <div>
                  <div>
                      <div>
                        Uh oh...
                      </div>
                      <p class='thin-p green-p'>Looks like that didn't go through.</p>
                  </div>
                  <a  href="{% url 'checkout' %}">
                    <button style='margin-top: 20px;' class='pw-button-natural'>
                      Try again
                    </button>
                  </a>
              </div>
          </div>
      </div>
  </div>
</body>
{% endblock %}