
{% extends 'members/base.html' %}
{% block content %}

<div class="body">

  <div style='margin-top: 30px;' class="p-container-top">
      <div class="container thin-p green-p">


          {% csrf_token %}
          You've learned {{ words_learned_count }} words, out of the 1,000 it takes to become fluent.<br>
      </div>
  </div>
</div>
<div style='position:fixed; bottom: 0px; text-align: center; right: 0px; left:0px; padding: 15px; background-color: #F7F4FF;'>
  <a style='font-weight: 700;' href="mailto:tutorscourse@gmail.com">
  Email us
  </a>
</div>

{% endblock %}