
{% extends 'members/base.html' %}
{% block content %}

<div class="body">

  <div style='margin-top: 30px;' class="p-container-top">
      <div class="container thin-p green-p">
        {% if cancel_at_period_end %}
          Your membership will run to the end of your billing cycle.
        {% elif membership %}
        <form action="{% url 'settings' %}" method="POST">
          {% csrf_token %}
          You've learned {{ words_learned_count }} words, out of the 1,000 it takes to become fluent.
          <input style='margin:15px' class='wide-input pw-button-natural' type="submit" value="Cancel Membership">
        </form>
        {% else %}
        Looks like you don't have a membership yet.
        <a href="{% url 'checkout' %}">
          <button style='margin-top: 20px;' class='pw-button-natural'>
            Get a membership
          </button>
        </a>
        {% endif %}
      </div>
  </div>
</div>
<div style='position:fixed; bottom: 0px; text-align: center; right: 0px; left:0px; padding: 15px; background-color: #F7F4FF;'>
  <a style='font-weight: 700;' href="mailto:tutorscourse@gmail.com">
  Email us
  </a>
</div>

{% endblock %}