<head>        
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
    <meta name="viewport" content="width=device-width">


</head>
<body class="body background-picture">
    <div>
        
        <div>
            <div style="color: #3D6F7A"><h2 >Welcome back!</h2></div>
            <div class="login-text">
                <form method='POST'>
                    {% csrf_token %}
                    <div style='padding-bottom: 30px;'>
                    {{ form.as_p }}
                    </div>
                    <div style="text-align: center;">
                        <button class='pw-button'>Log in</button>
                    </div>
                </form>
            </div>
        </div>
    <script src='{% static "app/popup.js" %}'></script>  


</body>