<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'app/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'app/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'app/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'app/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jigassa: Learn Bengali the quick way</title>

</head>
<body class="body background-picture">
    <div>
        
        <div>
            <div style="color: #3D6F7A"><h2 >Welcome back!</h2></div>
            <div class="login-text">
                <form method='POST'>
                    {% csrf_token %}
                    <div style='padding-bottom: 30px;'>
                    {{ form.as_p }}
                    </div>
                    <div style="text-align: center;">
                        <button class='pw-button'>Log in</button>
                    </div>
                </form>
            </div>
        </div>
    <script src='{% static "app/popup.js" %}'></script>  


</body>