<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
<!--
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'app/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'app/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'app/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'app/safari-pinned-tab.svg' %}" color="#5bbad5">
-->
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧠</text></svg>">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script>
        var numero = 1
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor's Course</title>
</head>
<body style="padding:0px; margin: 0px" >

    <!-- header -->
    <div class="base-header header">
        <a href="{% url 'testselect' %}"><img class='top-logo' src='{% static "app/brain.png" %}'></a>
        <div class="header-right">
            <div class='studentSelectorDiv'>
                <div class="student-select">
                    <div class='keyboard-settings-button'>
                        ⚙️
                    </div>
                <div class="selectStudent">
                    <div class='selectStudentList'>
                        <a href="{% url 'settings' %}"><div class='selectStudentButton'>Settings</div></a>
                        <a  href="{% url 'logout' %}"><div class='selectStudentButton'>Logout</div></a>
                    </div>
                </div>
                </div>
            </div>
    </div>
    <!-- main -->

    <div class="body">
        <div id="card-test">
            <div class="card">
                <div id="card-front">
                    <div class="card-background">
                        <div class="hero-card">
                            <h2 id="card-front-text" class='p-hero-text'>
                                {% for wordy in session_words %}
                                    <p class="hidden show-word show-{{ wordy.word.bengali }}">{{ wordy.word.bengali }}</p>
                                {% endfor %}
                            </h2>
                        </div>
                    </div>
                </div>
                <div id="card-back" class="hidden">
                    <div class="card-background">
                        <div class="hero-card">
                            <h2 id="card-back-text" class='p-hero-text'>
                                {% for wordy in session_words %}
                                    <p class="hidden show-word show-{{ wordy.word.bengali }}">{{ wordy.word.english }}</p>
                                {% endfor %}
                            </h2>
                        </div>
                    </div>
                </div>
                <div id="info-card" class="hidden">
                    <div class="card-background">
                        <div class="hero-card">
                            <h2 id="info-card-text" class='p-hero-text'>

                                    <p style='font-size:medium;'>
                                        We'll show you the words you 
                                        need to practice most - try to translate each one. If you need a hint, click the &#128064.
                                    </p>

                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 60px;">
                <div id="correct" class='keyboard-button' style="background-color: #B7FFC7;">
                    &#128077
                </div>
                <div>
        <!-- This spacing is important to remove spaces between the inline-block elements -->
                    <div id="info-button" class='keyboard-button' style="background-color: #EFEFEF">
                        &#x2753
                    </div><div id="incorrect" class='keyboard-button' style="background-color: #FFDFDF;">
                        &#128078
                    </div><div id="flip-card" class='keyboard-button' style="background-color: #E7DFFF;">
                        &#128064
                    </div>
                </div>
            </div>
        </div>
        <form method="post" action="">
            {% csrf_token %}
            {{ formset.management_form }}
            <div class='hidden'>
                {% for form in formset %}
                    <div id='{{ word }}'>
                    {{ form }}<br><br>
                    </div>
                {% endfor %}
            </div>
            <input class='wide-input submit-button' id='submit-button' type="submit"></input>
        </form>
        <div class="hidden" id='early-week-end-offer-modal'>
            <div id="myModal" class="modal">

            <!-- Modal content -->
                <div class="modal-content title-text">
                    <span id='x-modal' class="close">&times;</span>
                    <h3>Bhalo!</h3>
                    <p>You’re acing it! If you’d like,
                        you can move on to new focus words</p>
                    <image src="{% static 'app/moving-orange-fish.svg' %}" style="width: 80%; padding: 10px 0px">
                    <button class='button green-theme' id='accept-early-week-end-button'>Learn new words</button>
                    <button class='button purple-theme' id='close-modal'>Keep practicing</button>

                </div>
        </div>
        </div>
        <div>
            <script>
                var wordArray = []
                var showingLang = '{{ lang }}'
            </script>

            {% for wordy in session_words %}
                <script>
                    wordArray.push('{{ wordy.word.bengali }}'.toLowerCase())
                </script>
            {% endfor %}
        </div>
    </div>
    <script src='{% static "app/popup.js" %}'></script>
</body>