<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
<!--
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'app/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'app/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'app/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'app/safari-pinned-tab.svg' %}" color="#5bbad5">
-->
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧠</text></svg>">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script>
        var numero = 1
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor's Course</title>
</head>
<body style="padding:0px; margin: 0px" >
        <!-- header -->
        <div class="base-header header">
            <a href="{% url 'testselect' %}"><img class='top-logo' src='{% static "app/brain.png" %}'></a>
            <div class="header-right">
                <div class='studentSelectorDiv'>
                    <div class="student-select">
                        <div class='keyboard-settings-button'>
                            ⚙️
                        </div>
                    <div class="selectStudent">
                        <div class='selectStudentList'>
                            <a href="{% url 'settings' %}"><div class='selectStudentButton'>Settings</div></a>
                            <a  href="{% url 'logout' %}"><div class='selectStudentButton'>Logout</div></a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="body">
        
        <div id="card-test">
            <div style='height:300px'>
                <div id="card-front">
                    <div class="card-background">
                        <div class="hero-card">
                            <div id="card-front-text" class='p-hero-text'>
                                <p id="show-sentence">
                                    {%for wordy in session_words%}
                                        {{ wordy.word.sentence }}
                                    {%endfor%}
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 60px;">
                <div id="correct" class='keyboard-button' style="background-color: #B7FFC7;">
                    &#128077
                </div>
                <div>
        <!-- This spacing is important to remove spaces between the inline-block elements -->
                    <a href="{% url 'testselect' %}"><div id="exit-to-test-select" class='keyboard-button' style="background-color: #EFEFEF">
                        ⬅️
                    </div></a><div id="incorrect" class='keyboard-button' style="background-color: #FFDFDF;">
                        &#128078
                    </div><div id="flip-card" class='keyboard-button' style="background-color: #E7DFFF;">
                        &#128064
                    </div>
                </div>
            </div>
        </div>
        <div>
            <script>

                var sentenceArray = []
                let english;
                let bengali;
                let sentence;

            </script>

            {% for wordy in session_words %}
                <script>
                    
                    english = ('{{ wordy.word.english }}');
                    bengali = ('{{ wordy.word.bengali }}');
                    sentence = ('{{ wordy.word.sentence }}')
                    sentenceArray.push({"english": english, "bengali": bengali, "sentence": sentence})

                </script>
            {% endfor %}
        </div>
    </div>
    <script src='{% static "app/sentence-test.js" %}'></script>
</body>