<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="body">
            
    <div id="test-select">
        <div class="title-div" style="margin-top: 35px;">
            <div class="title-text">
                What's the plan today?
            </div>
        </div>
        <div id="ENGtoBEN" class="card-background" style="margin-top: 35px;">
            <a href="{% url 'cardtest' lang='english' %}">
                <div class="option-card">
                    <h3 class='p-hero-text'>English &#8594 Bengali</h3>
                </div>
            </a>

        </div>
        <div id="BENtoENG" class="card-background">
            <a href="{% url 'cardtest' lang='bengali' %}">
                <div class="option-card">
                    <h3 class='p-hero-text'>Bengali &#8594 English</h3>
                </div>
            </a>
        </div>

    </div>
    <script src='{% static "app/popup.js" %}'></script>  

</body>