<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
<!--
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'app/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'app/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'app/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'app/safari-pinned-tab.svg' %}" color="#5bbad5">
-->
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧠</text></svg>">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor's Course</title>

</head>
<body style="padding:0px; margin: 0px" >
        <!-- header -->
        <div class="base-header header">
            <a href="{% url 'testselect' %}"><img class='top-logo' src='{% static "app/brain.png" %}'></a>
            <div class="header-right">
                <div class='studentSelectorDiv'>
                    <div class="student-select">
                        <div class='keyboard-settings-button'>
                            ⚙️
                        </div>
                    <div class="selectStudent">
                        <div class='selectStudentList'>
                            <a  href="{% url 'logout' %}"><div class='selectStudentButton'>Logout</div></a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="body">
        

        <div id="test-select">
            <div class="title-div" style="margin-top: 35px;">
                <div class="title-text">
                    What's the plan today?
                </div>
            </div>
            <div id="ENGtoBEN" class="card-background" style="margin-top: 35px;">
                <a href="{% url 'cardtest' lang='english' %}">
                    <div class="option-card">
                        <h3 class='p-hero-text'>English &#8594 Bangla</h3>
                    </div>
                </a>

            </div>
            <div id="BENtoENG" class="card-background">
                <a href="{% url 'cardtest' lang='bengali' %}">
                    <div class="option-card">
                        <h3 class='p-hero-text'>Bangla &#8594 English</h3>
                    </div>
                </a>
            </div>
            <div id="sentence" class="card-background">
                <a href="{% url 'sentencetest' %}">
                    <div class="option-card">
                        <h3 class='p-hero-text'>Practice Sentences</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class='bottom-banner'>
            <div style='padding: 20px 20px;'>
                <h3 class='p-hero-text'>&#128051 {{ words_learned_count }} words learned</h3> 
            </div>
        </div>

    </div>

    <script src='{% static "app/popup.js" %}'></script>  

</body>